{% extends 'home.html' %}


{% block content %}





<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                

                    <div class="form-row">
                        <div class="col form-group">
                            <label for="#">First_name</label>

                            {{register.first_name}}

                        </div> <!-- form-group end.// -->
                        <div class="col form-group">

                            <label for="#">Last_name</label>

                            {{register.last_name}}

                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Email</label>

                        {{register.email}}

                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div> <!-- form-group end.// -->
                    <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">

                        <label>phone_number </label>

                          {{register.phone_number}}

                        </div> <!-- form-group end.// -->
                        
                    </div><!-- form-row.// -->


                    <div class="form-row">
                        <div class="form-group col-md-6">

                        <label>profile_image </label>


                          {{register.profile_image}}

                        </div> <!-- form-group end.// -->
                        
                    </div>









                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{register.password}}

                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Repeat password</label>
                            {{register.confirm_password}}

                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div> <!-- form-group// -->      
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= 


{% endblock %}
