{% extends 'home.html' %}

{% block content %}




<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Our Store</h2>
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                        {% for cat in category %}

                    <li><a href="{% url 'category-product' cat.id %}"> {{cat.Category_name}} </a></li>

                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
      
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Price range </h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
                    
                    <div class="form-row">
                    <div class="form-group col-md-6">

                     <form action="{% url  'price-range' %}" method="POST" >

                        {% csrf_token %}
                        
                        <input type="text" placeholder="ENTER price you want to search for " name="price">
                        <br>
                        <br>
                        <input type="submit" value="search" class="btn btn-block btn-primary">


                     </form>
                    </div> <!-- form-row.// -->

                </div><!-- card-body.// -->
            </div>
        </article> <!-- filter-group .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{counter}} Items found </span>

                
            </div>
    </header><!-- sect-heading -->

    
    <div class="row">

        {% for pro in products %}
        <div class="col-md-4">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    
                    <img src="{{pro.image.url}}">
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{% url 'product-detail' pro.id %}" class="title">{{pro.Product_name}}</a>
                        <div class="price-wrap mt-2">

                            <span class="price">{{pro.Price}} DA</span>

                            <br>

                            <span class="price">{{pro.owner}} </span> 
                        
                        </div> <!-- price-wrap.// -->

                    </div>

                    <a href="{% url 'addto-card' pro.id %}" class="btn btn-block btn-primary">Add to cart </a>
                    
                
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
    
       
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
      <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}